<style >
body {
  padding-top: 100px;
  background: url(<%= asset_path 'header.jpg'%>) no-repeat;
  background-attachment: relative;
	background-position: center center;
  min-height: 700px;
	width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Upload</h2>
      </div>
      <div class="panel-body">
        <%= simple_form_for @photo do |f| %>
          <%= f.input :email %>
          <br>
          <%= f.label :style, label: 'Choose your style'  %><br>

          <%= f.collection_radio_buttons(:title, [['Modern Art', 'Modern Art'], ['Munch', 'Munch'], ['Picasso', 'Picasso'], ['Black and White', 'Black and White']], :first, :last, :item_wrapper_class => 'radio-inline',) { |title| title.label { title.radio_button + " " + image_tag("#{title.text}.jpg", :size => "60x50")}} %>
          <br>
          <br>
          <%= f.input :image, label: 'Upload your video' %>

          <%= f.submit 'Upload', class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
