<style >
body {
  padding-top: 100px;
  background-color: lightgrey;
}
</style>


<div class='row'>

    <div class='col-md-4 col-md-offset-4'>
        <div class='panel panel-default'>
          <div class='panel-heading'>
            <h2 class='panel-title'>Upload your video</h2>
          </div>
          <div class='panel-body'>

            <%= simple_form_for(@photo) do |f| %>
              <%= render 'shared/errors', object: @photo %>

              <br><br>
              <%= f.label :email%>
              <%= f.text_field :email %>
              <%= f.label :style, label: 'Choose your style'  %><br>

              <%= f.collection_radio_buttons(:title, [['Modern Art', 'Modern Art'], ['Munch', 'Munch'], ['Picasso', 'Picasso'], ['Black and White', 'Black and White']],
              :first, :last,
              :item_wrapper_class => 'radio-inline',
              ) { |title| title.label { title.radio_button + " " + image_tag("#{title.text}.jpg", :size => "60x50")}} %>


              <%= f.label :video, label: 'Upload your video' %>
              <%= f.file_field :image%>


    <%= f.submit 'Upload', class: 'btn btn-success' %>
  <% end %>
  </div>
